<h1><strong><a href= '/urls'>TinyApp</a></strong></h1>
<!--<a href='/users' style='position: absolute;right: 30px;text-align: right'>See All Users</a>-->
<a href='/urls/new' style='font-size:15px;padding:5px'>Create New TinyURL</a>
<% if(user){ %>
    <form action='/logout' method='POST'>
      <p style= 'display: inline-block'><%= user.email %></p>
      <button type='submit'>Logout</button>
    </form>
  <% } else { %>
    <div style='font-size:15px;padding:5px'>
      <a href='/login'>Login</a>
      <br>
      <a href='/register'>New to TinyURL?</a>
    </div>
<% } %>
<p>----------------------------------------------</p>