<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header.ejs %>
  <h3> This URL from <%=urls[shortURL].userID%> is </h3>
  <h6> Short: <%=`/u/${shortURL}`%><br></h6>
  <% if(user && urls[shortURL].userID === user.id) { %>
    <form action='<%=`/urls/${shortURL}`%>'' method='POST'>
      <p>Change this URL</p>
      <input type="text" name='newURL' placeholder=<%=urls[shortURL].longURL%> ></input>
      <button type='submit'>Submit</button>
    </form>
  <% } %>
</body>
</html>